/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"],
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {
    display: none !important;
}
.gfield_time_ampm {
	max-height: 68px !important;
}

.fl-builder-content .fl-node-5d16648f2fcc4 a {
    color: #000080;
}

.fl-node-5d16648f2fcc4 .fl-bg-video-audio {
    display: none;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 5;
    width: 20px;
}

.fl-node-5d16648f2fcc4 .fl-bg-video-audio .fl-audio-control {
    font-size: 20px;
}

.fl-node-5d16648f2fcc4 .fl-bg-video-audio .fa-times {
    font-size: 10px;
    vertical-align: middle;
    position: absolute;
    top: 5px;
    left: 11px;
    bottom: 0;
}

.fl-node-5d16648f2fcc4>.fl-row-content-wrap {
    background-color: #ffffff;
}

.fl-node-5d16648f2fcc4 .fl-row-content {
    max-width: 1300px;
}

@media(max-width: 992px) {}

@media(max-width: 768px) {}

.fl-node-5d16648f2fcc4>.fl-row-content-wrap {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.fl-node-5d16648f2fcc4>.fl-row-content-wrap {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"],
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {
    display: none !important;
}

.fl-node-5dcd3e13b08a0 .fl-bg-video-audio {
    display: none;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 5;
    width: 20px;
}

.fl-node-5dcd3e13b08a0 .fl-bg-video-audio .fl-audio-control {
    font-size: 20px;
}

.fl-node-5dcd3e13b08a0 .fl-bg-video-audio .fa-times {
    font-size: 10px;
    vertical-align: middle;
    position: absolute;
    top: 5px;
    left: 11px;
    bottom: 0;
}

@media(max-width: 992px) {}

@media(max-width: 768px) {}

.fl-node-5d16648f31f41 {
    width: 22%;
}

@media(max-width: 992px) {}

@media(max-width: 768px) {}

.fl-node-5d1664af08094 {
    width: 60%;
}

@media(max-width: 992px) {}

@media(max-width: 768px) {}

.fl-node-5dcd3c6e0f07e {
    width: 8%;
}

@media(max-width: 992px) {}

@media(max-width: 768px) {}

.fl-node-5dcac0f4c933c {
    width: 10%;
}

@media(max-width: 992px) {}

@media(max-width: 768px) {}

.fl-node-5dcd3e13b6c62 {
    width: 100%;
}

@media(max-width: 992px) {}

@media(max-width: 768px) {}

.fl-node-5d16648f2fbb9 {
    width: 100%;
}

.fl-node-5d16648f2fbb9 .uabb-photo-content {}

.fl-node-5d16648f2fbb9 .uabb-photo-content img {
    width: 220px;
}

.fl-node-5d16648f2fbb9 .uabb-photo-caption {}

.fl-node-5d16648f2fbb9 .uabb-photo-content .uabb-photo-img {
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.fl-node-5d16648f2fbb9 .uabb-photo-content .uabb-photo-img {
    opacity: 1;
}

.fl-node-5d16648f2fbb9 .uabb-photo-content .uabb-photo-img:hover {
    opacity: 1;
}

@media ( max-width: 768px) {
    .fl-node-5d16648f2fbb9 .uabb-photo-mob-align-center {
        text-align: center;
    }
}

@media(max-width: 992px) {}

@media(max-width: 768px) {}

.uabb-creative-menu ul,
.uabb-creative-menu li {
    list-style: none !important;
    margin: 0;
    padding: 0;
}

.uabb-creative-menu .menu:before,
.uabb-creative-menu .menu:after {
    content: '';
    display: table;
    clear: both;
}

.uabb-creative-menu .menu {
    position: relative;
    padding-left: 0;
}

.uabb-creative-menu li {
    position: relative;
}

.uabb-creative-menu a {
    display: block;
    line-height: 1;
    text-decoration: none;
}

.uabb-creative-menu .menu a {
    box-shadow: none;
}

.uabb-creative-menu a:hover {
    text-decoration: none;
}

.uabb-creative-menu .sub-menu {
    min-width: 220px;
    margin: 0;
}

.uabb-creative-menu-horizontal {
    font-size: 0;
}

.uabb-creative-menu-horizontal li,
.uabb-creative-menu-horizontal>li {
    font-size: medium;
}

.uabb-creative-menu-horizontal>li>.uabb-has-submenu-container>a>span.menu-item-text {
    display: inline-block;
}

.fl-module[data-node] .uabb-creative-menu .uabb-creative-menu-expanded .sub-menu {
    background-color: transparent;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
}

.uabb-creative-menu .uabb-has-submenu:focus,
.uabb-creative-menu .uabb-has-submenu .sub-menu:focus,
.uabb-creative-menu .uabb-has-submenu-container:focus {
    outline: 0;
}

.uabb-creative-menu .uabb-has-submenu-container {
    position: relative;
}

.uabb-creative-menu .uabb-creative-menu-accordion .uabb-has-submenu>.sub-menu {
    display: none;
}

.uabb-creative-menu .uabb-menu-toggle {
    cursor: pointer;
}

.uabb-creative-menu .uabb-toggle-arrows .uabb-menu-toggle:before,
.uabb-creative-menu .uabb-toggle-none .uabb-menu-toggle:before {
    border-color: #333;
}

.uabb-creative-menu .uabb-menu-expanded .uabb-menu-toggle {
    display: none;
}

.uabb-creative-menu-mobile-toggle {
    position: relative;
    padding: 8px;
    background-color: transparent;
    border: none;
    color: #333;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    z-index: 5;
}

.uabb-creative-menu-mobile-toggle.text {
    width: 100%;
    text-align: center;
}

.uabb-creative-menu-mobile-toggle.hamburger .uabb-creative-menu-mobile-toggle-label,
.uabb-creative-menu-mobile-toggle.hamburger-label .uabb-creative-menu-mobile-toggle-label {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}

.uabb-creative-menu-mobile-toggle.hamburger .uabb-svg-container,
.uabb-creative-menu-mobile-toggle.hamburger-label .uabb-svg-container {
    display: inline-block;
    position: relative;
    width: 1.4em;
    height: 1.4em;
    vertical-align: middle;
}

.uabb-creative-menu-mobile-toggle.hamburger .hamburger-menu,
.uabb-creative-menu-mobile-toggle.hamburger-label .hamburger-menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.uabb-creative-menu-mobile-toggle.hamburger .hamburger-menu rect,
.uabb-creative-menu-mobile-toggle.hamburger-label .hamburger-menu rect {
    fill: currentColor;
}

.uabb-creative-menu.off-canvas .uabb-off-canvas-menu .uabb-menu-close-btn {
    width: 20px;
    height: 10px;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    display: block;
    z-index: 99;
}

.uabb-creative-menu .uabb-menu-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    overflow-y: auto;
    overflow-x: hidden;
}

.uabb-creative-menu .uabb-menu-overlay>ul.menu {
    text-align: center;
    position: relative;
    top: 50%;
    width: 40%;
    height: 60%;
    margin: 0 auto;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.uabb-creative-menu .uabb-overlay-fade {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
    transition: opacity 0.5s, visibility 0s 0.5s;
}

.uabb-creative-menu.menu-open .uabb-overlay-fade {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.uabb-creative-menu .uabb-overlay-slide-down {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: -webkit-transform 0.4s ease-in-out, visibility 0s 0.4s;
    transition: transform 0.4s ease-in-out, visibility 0s 0.4s;
}

.uabb-creative-menu.menu-open .uabb-overlay-slide-down {
    visibility: visible;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
}

.uabb-creative-menu .uabb-overlay-scale {
    visibility: hidden;
    opacity: 0;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
    transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}

.uabb-creative-menu.menu-open .uabb-overlay-scale {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s;
}

.uabb-creative-menu .uabb-overlay-door {
    visibility: hidden;
    width: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: width 0.5s 0.3s, visibility 0s 0.8s;
    transition: width 0.5s 0.3s, visibility 0s 0.8s;
}

.uabb-creative-menu.menu-open .uabb-overlay-door {
    visibility: visible;
    width: 100%;
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
}

.uabb-creative-menu .uabb-overlay-door>ul.menu {
    left: 0;
    right: 0;
    transform: translateY(-50%);
}

.uabb-creative-menu .uabb-overlay-door>ul,
.uabb-creative-menu .uabb-overlay-door .uabb-menu-close-btn {
    opacity: 0;
    -webkit-transition: opacity 0.3s 0.5s;
    transition: opacity 0.3s 0.5s;
}

.uabb-creative-menu.menu-open .uabb-overlay-door>ul,
.uabb-creative-menu.menu-open .uabb-overlay-door .uabb-menu-close-btn {
    opacity: 1;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}

.uabb-creative-menu.menu-close .uabb-overlay-door>ul,
.uabb-creative-menu.menu-close .uabb-overlay-door .uabb-menu-close-btn {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.uabb-creative-menu .uabb-menu-overlay .uabb-toggle-arrows .uabb-has-submenu-container a>span {
    padding-right: 0 !important;
}

.uabb-creative-menu .uabb-menu-overlay .uabb-menu-close-btn {
    position: absolute;
    display: block;
    width: 55px;
    height: 45px;
    right: 40px;
    top: 40px;
    overflow: hidden;
    border: none;
    outline: none;
    z-index: 100;
    font-size: 30px;
    cursor: pointer;
    background-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.uabb-creative-menu .uabb-menu-overlay .uabb-menu-close-btn:before,
.uabb-creative-menu .uabb-menu-overlay .uabb-menu-close-btn:after {
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 40px;
    background-color: #ffffff;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform: translateY(0) rotate(45deg);
    transform: translateY(0) rotate(45deg);
}

.uabb-creative-menu .uabb-menu-overlay .uabb-menu-close-btn:after {
    -webkit-transform: translateY(0) rotate(-45deg);
    transform: translateY(0) rotate(-45deg);
}

.uabb-creative-menu .uabb-off-canvas-menu .menu {
    margin-top: 40px;
}

.uabb-creative-menu.off-canvas .uabb-clear {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99998;
    background: rgba(0, 0, 0, 0.0);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.uabb-creative-menu .uabb-off-canvas-menu.uabb-menu-left {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate3d(-320px, 0px, 0px);
}

.uabb-creative-menu .uabb-off-canvas-menu.uabb-menu-right {
    position: fixed;
    top: 0;
    right: 0;
    transform: translate3d(320px, 0px, 0px);
}

.uabb-creative-menu .uabb-off-canvas-menu {
    z-index: 99999;
    width: 300px;
    height: 100%;
    background: rgb(55, 58, 71);
    padding: 60px 20px;
    -webkit-transition: all 0.8s;
    transition: transform 0.8s ease;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    perspective: 1000;
    backface-visibility: hidden;
}

.menu-open.uabb-creative-menu .uabb-off-canvas-menu.uabb-menu-left {
    transform: translate3d(0px, 0px, 0px);
    transition: transform 0.8s ease;
}

.uabb-creative-menu .menu>li>a,
.uabb-creative-menu .menu>li>.uabb-has-submenu-container a {
    outline: 0;
}

.menu-open.uabb-creative-menu .uabb-off-canvas-menu.uabb-menu-right {
    transform: translate3d(0px, 0px, 0px);
    transition: transform 0.8s ease;
}

.uabb-creative-menu.off-canvas.menu-open .uabb-clear {
    visibility: visible;
    opacity: 1;
}

@media ( max-width: 992px) {
    .uabb-creative-menu .uabb-menu-overlay .uabb-menu-close-btn {
        right: 20px;
        top: 20px;
    }
}

.fl-node-5d1664af07fdb .uabb-creative-menu .menu {
    text-align: right;
}

.uabb-creative-menu-expanded ul.sub-menu li a,
.uabb-creative-menu-accordion ul.sub-menu li a,
.uabb-creative-menu-accordion ul.sub-menu li .uabb-has-submenu-container a,
.uabb-creative-menu-expanded ul.sub-menu li .uabb-has-submenu-container a {
    text-indent: 20px;
    direction: rtl;
}

.uabb-creative-menu-expanded ul.sub-menu li li a,
.uabb-creative-menu-accordion ul.sub-menu li li a,
.uabb-creative-menu-accordion ul.sub-menu li li .uabb-has-submenu-container a,
.uabb-creative-menu-expanded ul.sub-menu li li .uabb-has-submenu-container a {
    text-indent: 30px;
    direction: rtl;
}

.uabb-creative-menu-expanded ul.sub-menu li li li a,
.uabb-creative-menu-accordion ul.sub-menu li li li a,
.uabb-creative-menu-accordion ul.sub-menu li li li .uabb-has-submenu-container a,
.uabb-creative-menu-expanded ul.sub-menu li li li .uabb-has-submenu-container a {
    text-indent: 40px;
    direction: rtl;
}

.uabb-creative-menu-expanded ul.sub-menu li li li li a,
.uabb-creative-menu-accordion ul.sub-menu li li li li a,
.uabb-creative-menu-accordion ul.sub-menu li li li li .uabb-has-submenu-container a,
.uabb-creative-menu-expanded ul.sub-menu li li li li .uabb-has-submenu-container a {
    text-indent: 50px;
    direction: rtl;
}

.fl-node-5d1664af07fdb .uabb-creative-menu .menu.uabb-creative-menu-horizontal>li>a span.uabb-menu-toggle,
.fl-node-5d1664af07fdb .uabb-creative-menu .menu.uabb-creative-menu-horizontal>li>.uabb-has-submenu-container a span.uabb-menu-toggle {
    padding-left: 10px;
    float: right;
}

.fl-node-5d1664af07fdb .uabb-creative-menu .menu.uabb-creative-menu-horizontal .uabb-menu-toggle {
    padding-left: 10px;
    float: right;
}

.fl-node-5d1664af07fdb .uabb-creative-menu .menu>li {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.fl-node-5d1664af07fdb .uabb-creative-menu .uabb-menu-toggle:before {
    content: '\f107';
    font-family: 'Font Awesome 5 Free';
    z-index: 1;
    font-size: inherit;
    line-height: 0;
    font-weight: 900;
}

.fl-node-5d1664af07fdb .menu .uabb-has-submenu .sub-menu {
    display: none;
}

.fl-node-5d1664af07fdb .uabb-creative-menu li:first-child {
    border-top: none;
}

@media only screen and ( max-width: 768px) {
    .fl-node-5d1664af07fdb .uabb-creative-menu .menu {
        margin-top: 20px;
    }
    .fl-node-5d1664af07fdb .uabb-creative-menu .uabb-off-canvas-menu .uabb-menu-close-btn,
    .fl-node-5d1664af07fdb .uabb-creative-menu .uabb-menu-overlay .uabb-menu-close-btn {
        display: block;
    }
    .fl-node-5d1664af07fdb .uabb-creative-menu .menu {
        text-align: center;
    }
    .fl-node-5d1664af07fdb .uabb-creative-menu .menu>li {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .fl-node-5d1664af07fdb .uabb-creative-menu .menu>li>a span.uabb-menu-toggle,
    .fl-node-5d1664af07fdb .uabb-creative-menu .menu>li>.uabb-has-submenu-container a span.menu-item-text>span.uabb-menu-toggle {
        padding-left: 10px;
        float: right;
    }
    .fl-node-5d1664af07fdb .uabb-creative-menu .menu .uabb-menu-toggle {
        padding-left: 10px;
        float: right;
    }
}

@media only screen and ( min-width: 769px) {
    .fl-node-5d1664af07fdb .menu>li {
        display: inline-block;
    }
    .fl-node-5d1664af07fdb .menu li {
        border-left: none;
        border-top: none;
    }
    .fl-node-5d1664af07fdb .menu li li {
        border-top: none;
        border-left: none;
    }
    .fl-node-5d1664af07fdb .menu .uabb-has-submenu .sub-menu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 16;
        visibility: hidden;
        opacity: 0;
        text-align: left;
        transition: all 300ms ease-in;
    }
    .fl-node-5d1664af07fdb .uabb-has-submenu .uabb-has-submenu .sub-menu {
        top: 0;
        left: 100%;
    }
    .fl-node-5d1664af07fdb .uabb-creative-menu .uabb-has-submenu:hover>.sub-menu,
    .fl-node-5d1664af07fdb .uabb-creative-menu .uabb-has-submenu:focus>.sub-menu {
        display: block;
    }
    .fl-node-5d1664af07fdb .uabb-creative-menu .uabb-has-submenu:hover>.sub-menu,
    .fl-node-5d1664af07fdb .uabb-creative-menu .uabb-has-submenu:focus>.sub-menu {
        visibility: visible;
        opacity: 1;
    }
    .fl-node-5d1664af07fdb .menu .uabb-has-submenu.uabb-menu-submenu-right .sub-menu {
        top: 100%;
        left: inherit;
        right: 0;
    }
    .fl-node-5d1664af07fdb .menu .uabb-has-submenu .uabb-has-submenu.uabb-menu-submenu-right .sub-menu {
        top: 0;
        left: inherit;
        right: 100%;
    }
    .fl-node-5d1664af07fdb .uabb-creative-menu-mobile-toggle {
        display: none;
    }
}

.fl-node-5d1664af07fdb .uabb-creative-menu.uabb-menu-default .menu>li>a,
.fl-node-5d1664af07fdb .uabb-creative-menu.uabb-menu-default .menu>li>.uabb-has-submenu-container>a {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.fl-node-5d1664af07fdb .uabb-creative-menu .menu>li>a,
.fl-node-5d1664af07fdb .uabb-creative-menu .menu>li>.uabb-has-submenu-container>a {}

.fl-node-5d1664af07fdb .uabb-creative-menu .menu>li>a,
.fl-node-5d1664af07fdb .uabb-creative-menu .menu>li>.uabb-has-submenu-container>a {}

.fl-node-5d1664af07fdb .fl-module-content .uabb-creative-menu .menu>li>a span.menu-item-text,
.fl-node-5d1664af07fdb .fl-module-content .uabb-creative-menu .menu>li>.uabb-has-submenu-container>a span.menu-item-text {
    width: 100%;
    color: #4b4c60;
}

.fl-node-5d1664af07fdb .uabb-creative-menu .uabb-toggle-arrows .uabb-menu-toggle:before,
.fl-node-5d1664af07fdb .uabb-creative-menu .uabb-toggle-none .uabb-menu-toggle:before {
    color: #4b4c60;
}

.fl-node-5d1664af07fdb .uabb-creative-menu .uabb-toggle-arrows li:hover .uabb-menu-toggle:before,
.fl-node-5d1664af07fdb .uabb-creative-menu .uabb-toggle-arrows .uabb-creative-menu.current-menu-item .uabb-menu-toggle:before,
.fl-node-5d1664af07fdb .uabb-creative-menu .uabb-toggle-arrows .uabb-creative-menu.current-menu-ancestor .uabb-menu-toggle:before,
.fl-node-5d1664af07fdb .uabb-creative-menu .uabb-toggle-none li:hover .uabb-menu-toggle:before {
    color: #253262;
}

.fl-node-5d1664af07fdb .uabb-creative-menu .menu>li>a:hover,
.fl-node-5d1664af07fdb .uabb-creative-menu .menu>li>a:focus,
.fl-node-5d1664af07fdb .uabb-creative-menu .menu>li:hover>.uabb-has-submenu-container>a,
.fl-node-5d1664af07fdb .uabb-creative-menu .menu>li:focus>.uabb-has-submenu-container>a,
.fl-node-5d1664af07fdb .uabb-creative-menu .menu>li.current-menu-item>a,
.fl-node-5d1664af07fdb .uabb-creative-menu .menu>li.current-menu-item>a,
.fl-node-5d1664af07fdb .uabb-creative-menu .menu>li.current-menu-ancestor>.uabb-has-submenu-container>a,
.fl-node-5d1664af07fdb .uabb-creative-menu .menu>li.current-menu-item>.uabb-has-submenu-container>a {}

.fl-node-5d1664af07fdb .uabb-creative-menu .sub-menu>li.current-menu-item>a,
.fl-node-5d1664af07fdb .uabb-creative-menu .sub-menu>li.current-menu-item>.uabb-has-submenu-container>a,
.fl-node-5d1664af07fdb .uabb-creative-menu .sub-menu>li.current-menu-ancestor>a,
.fl-node-5d1664af07fdb .uabb-creative-menu .sub-menu>li.current-menu-ancestor>.uabb-has-submenu-container>a {
    background-color: #f5f5f5;
}

.fl-node-5d1664af07fdb .uabb-creative-menu .menu>li>a:hover span.menu-item-text,
.fl-node-5d1664af07fdb .uabb-creative-menu .menu>li>a:focus span.menu-item-text,
.fl-node-5d1664af07fdb .uabb-creative-menu .menu>li:hover>.uabb-has-submenu-container>a span.menu-item-text,
.fl-node-5d1664af07fdb .uabb-creative-menu .menu>li:focus>.uabb-has-submenu-container>a span.menu-item-text,
.fl-node-5d1664af07fdb .uabb-creative-menu .menu>li.current-menu-item>a span.menu-item-text,
.fl-node-5d1664af07fdb .uabb-creative-menu .menu>li.current-menu-item>.uabb-has-submenu-container>a span.menu-item-text,
.fl-node-5d1664af07fdb .uabb-creative-menu .menu>li.focus>.uabb-has-submenu-container>a span.menu-item-text,
.fl-node-5d1664af07fdb .uabb-creative-menu .menu>li.focus>a span.menu-item-text,
.fl-node-5d1664af07fdb .uabb-creative-menu .menu>li.current-menu-ancestor>.uabb-has-submenu-container>a span.menu-item-text,
.fl-node-5d1664af07fdb .uabb-creative-menu .menu>li.current-menu-ancestor>.uabb-has-submenu-container>a span.menu-item-text>i {
    color: #253262;
}

.fl-node-5d1664af07fdb .uabb-creative-menu .sub-menu>li.current-menu-item>a span.menu-item-text,
.fl-node-5d1664af07fdb .uabb-creative-menu .sub-menu>li.current-menu-item>.uabb-has-submenu-container>a span.menu-item-text,
.fl-node-5d1664af07fdb .uabb-creative-menu .sub-menu>li.current-menu-item>a span.menu-item-text>i,
.fl-node-5d1664af07fdb .uabb-creative-menu .sub-menu>li.current-menu-item>.uabb-has-submenu-container>a span.menu-item-text>i,
.fl-node-5d1664af07fdb .uabb-creative-menu .sub-menu>li.current-menu-ancestor>a span.menu-item-text,
.fl-node-5d1664af07fdb .uabb-creative-menu .sub-menu>li.current-menu-ancestor>.uabb-has-submenu-container>a span.menu-item-text,
.fl-node-5d1664af07fdb .uabb-creative-menu .sub-menu>li.current-menu-ancestor>a span.menu-item-text>i,
.fl-node-5d1664af07fdb .uabb-creative-menu .sub-menu>li.current-menu-ancestor>.uabb-has-submenu-container>a span.menu-item-text>i {
    color: #253262;
}

.fl-node-5d1664af07fdb .uabb-creative-menu .uabb-toggle-arrows .uabb-has-submenu-container:hover>.uabb-menu-toggle:before,
.fl-node-5d1664af07fdb .uabb-creative-menu .uabb-toggle-arrows .uabb-has-submenu-container.focus>.uabb-menu-toggle:before,
.fl-node-5d1664af07fdb .uabb-creative-menu .uabb-toggle-arrows li.current-menu-item>.uabb-has-submenu-container>.uabb-menu-toggle:before,
.fl-node-5d1664af07fdb .uabb-creative-menu .uabb-toggle-none .uabb-has-submenu-container:hover>.uabb-menu-toggle:before,
.fl-node-5d1664af07fdb .uabb-creative-menu .uabb-toggle-none .uabb-has-submenu-container.focus>.uabb-menu-toggle:before,
.fl-node-5d1664af07fdb .uabb-creative-menu .uabb-toggle-none li.current-menu-item>.uabb-has-submenu-container>.uabb-menu-toggle:before {
    color: #253262;
}

.fl-node-5d1664af07fdb .uabb-creative-menu .sub-menu>li>a,
.fl-node-5d1664af07fdb .uabb-creative-menu .sub-menu>li>.uabb-has-submenu-container>a {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #edecec;
}

.fl-node-5d1664af07fdb .uabb-creative-menu:not(.off-canvas):not(.full-screen):not(.menu-item) .uabb-creative-menu .sub-menu {
    min-width: 300px;
}

.fl-node-5d1664af07fdb .uabb-creative-menu .sub-menu>li.uabb-creative-menu>a>span,
.fl-node-5d1664af07fdb .uabb-creative-menu .sub-menu>li>.uabb-has-submenu-container>a>span {
    color: #4b4c60;
}

.fl-node-5d1664af07fdb .uabb-creative-menu .sub-menu>li {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #e3e2e3;
}

.fl-node-5d1664af07fdb .uabb-creative-menu .sub-menu>li:last-child {
    border-bottom: none;
}

.fl-node-5d1664af07fdb .uabb-creative-menu ul.sub-menu>li.uabb-creative-menu.uabb-has-submenu li:first-child,
.fl-node-5d1664af07fdb .uabb-creative-menu ul.sub-menu>li.uabb-creative-menu.uabb-has-submenu li li:first-child {
    border-top: none;
}

.fl-node-5d1664af07fdb .uabb-creative-menu .sub-menu>li.uabb-active>.sub-menu>li:first-child,
.fl-node-5d1664af07fdb .uabb-creative-menu .menu.uabb-creative-menu-expanded .sub-menu>li>.sub-menu>li:first-child {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #e3e2e3;
}

.fl-node-5d1664af07fdb .uabb-creative-menu .sub-menu {
    -webkit-box-shadow: 2px 2px 180px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px 2px 180px 1px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 2px 2px 180px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 180px 1px rgba(0, 0, 0, 0.3);
}

.fl-node-5d1664af07fdb .uabb-creative-menu .sub-menu>li:last-child>a,
.fl-node-5d1664af07fdb .uabb-creative-menu .sub-menu>li:last-child>.uabb-has-submenu-container>a {
    border: 0;
}

.fl-node-5d1664af07fdb .uabb-creative-menu ul.sub-menu>li.menu-item.uabb-creative-menu>a:hover span.menu-item-text,
.fl-node-5d1664af07fdb .uabb-creative-menu ul.sub-menu>li.menu-item.uabb-creative-menu>a:focus span.menu-item-text,
.fl-node-5d1664af07fdb .uabb-creative-menu ul.sub-menu>li.menu-item.uabb-creative-menu>.uabb-has-submenu-container>a:hover span.menu-item-text,
.fl-node-5d1664af07fdb .uabb-creative-menu ul.sub-menu>li.menu-item.uabb-creative-menu>.uabb-has-submenu-container>a:focus span.menu-item-text {
    color: #253262;
}

.fl-node-5d1664af07fdb .uabb-creative-menu .sub-menu>li>a:hover,
.fl-node-5d1664af07fdb .uabb-creative-menu .sub-menu>li>a:focus,
.fl-node-5d1664af07fdb .uabb-creative-menu .sub-menu>li>.uabb-has-submenu-container>a:hover,
.fl-node-5d1664af07fdb .uabb-creative-menu .sub-menu>li>.uabb-has-submenu-container>a:focus {
    background-color: #f5f5f5;
}

.fl-node-5d1664af07fdb .uabb-creative-menu .uabb-toggle-arrows .sub-menu li .uabb-menu-toggle:before,
.fl-node-5d1664af07fdb .uabb-creative-menu .uabb-toggle-none .sub-menu li .uabb-menu-toggle:before {
    color: #4b4c60;
}

.fl-node-5d1664af07fdb .uabb-creative-menu .uabb-toggle-arrows .sub-menu li:hover .uabb-menu-toggle:before,
.fl-node-5d1664af07fdb .uabb-creative-menu .uabb-toggle-none .sub-menu li:hover .uabb-menu-toggle:before {
    color: #253262;
}

.fl-node-5d1664af07fdb .uabb-creative-menu-mobile-toggle {}

.fl-node-5d1664af07fdb .uabb-creative-menu-mobile-toggle-container,
.fl-node-5d1664af07fdb .uabb-creative-menu-mobile-toggle-container>.uabb-creative-menu-mobile-toggle.text {
    text-align: center;
}

.fl-node-5d1664af07fdb .uabb-creative-menu-mobile-toggle rect {
    fill: #4b4c60;
}

@media only screen and ( max-width: 768px) {
    .fl-node-5d1664af07fdb .uabb-creative-menu .uabb-menu-overlay .menu {
        margin-top: 40px;
    }
    .fl-node-5d1664af07fdb .uabb-creative-menu .menu {
        text-align: center;
    }
    .fl-node-5d1664af07fdb .uabb-creative-menu .menu>li>a span.uabb-menu-toggle,
    .fl-node-5d1664af07fdb .uabb-creative-menu .menu>li>.uabb-has-submenu-container a span.menu-item-text>span.uabb-menu-toggle {
        padding-left: 10px;
        float: right;
    }
    .fl-node-5d1664af07fdb .uabb-creative-menu .menu .uabb-menu-toggle {
        padding-left: 10px;
        float: right;
    }
}

@media only screen and (max-width: 992px) {
    .fl-node-5d1664af07fdb .uabb-creative-menu-mobile-toggle-container,
    .fl-node-5d1664af07fdb .uabb-creative-menu-mobile-toggle-container>.uabb-creative-menu-mobile-toggle.text {
        text-align: ;
    }
    .fl-node-5d1664af07fdb .uabb-creative-menu .menu>li {}
    .fl-node-5d1664af07fdb .uabb-creative-menu.off-canvas .menu>li>a,
    .fl-node-5d1664af07fdb .uabb-creative-menu.off-canvas .menu>li>.uabb-has-submenu-container>a {}
    .fl-node-5d1664af07fdb .uabb-creative-menu.uabb-menu-default .menu>li>a,
    .fl-node-5d1664af07fdb .uabb-creative-menu.uabb-menu-default .menu>li>.uabb-has-submenu-container>a {}
    .fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .menu>li>a,
    .fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .menu>li>.uabb-has-submenu-container>a {}
    .fl-node-5d1664af07fdb .uabb-creative-menu .sub-menu>li>a,
    .fl-node-5d1664af07fdb .uabb-creative-menu .sub-menu>li>.uabb-has-submenu-container>a {}
    .fl-node-5d1664af07fdb .uabb-creative-menu .uabb-off-canvas-menu {}
    .fl-node-5d1664af07fdb .uabb-creative-menu .menu>li>a span.uabb-menu-toggle,
    .fl-node-5d1664af07fdb .uabb-creative-menu .menu>li>.uabb-has-submenu-container a span.menu-item-text>span.uabb-menu-toggle {
        padding-left: 10px;
        float: right;
    }
    .fl-node-5d1664af07fdb .uabb-creative-menu .menu .uabb-menu-toggle {
        padding-left: 10px;
        float: right;
    }
}

@media only screen and (max-width: 768px) {
    .fl-node-5d1664af07fdb .uabb-creative-menu-mobile-toggle-container,
    .fl-node-5d1664af07fdb .uabb-creative-menu-mobile-toggle-container>.uabb-creative-menu-mobile-toggle.text {
        text-align: ;
    }
    .fl-node-5d1664af07fdb .uabb-creative-menu .menu>li {}
    .fl-node-5d1664af07fdb .uabb-creative-menu.off-canvas .menu>li>a,
    .fl-node-5d1664af07fdb .uabb-creative-menu.off-canvas .menu>li>.uabb-has-submenu-container>a {}
    .fl-node-5d1664af07fdb .uabb-creative-menu.uabb-menu-default .menu>li>a,
    .fl-node-5d1664af07fdb .uabb-creative-menu.uabb-menu-default .menu>li>.uabb-has-submenu-container>a {}
    .fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .menu>li>a,
    .fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .menu>li>.uabb-has-submenu-container>a {}
    .fl-node-5d1664af07fdb .uabb-creative-menu .sub-menu>li>a,
    .fl-node-5d1664af07fdb .uabb-creative-menu .sub-menu>li>.uabb-has-submenu-container>a {}
    .fl-node-5d1664af07fdb .uabb-creative-menu .uabb-off-canvas-menu {}
    .fl-node-5d1664af07fdb .uabb-creative-menu .menu {
        text-align: center;
    }
    .fl-node-5d1664af07fdb .uabb-creative-menu .menu>li>a span.uabb-menu-toggle,
    .fl-node-5d1664af07fdb .uabb-creative-menu .menu>li>.uabb-has-submenu-container a span.menu-item-text>span.uabb-menu-toggle {
        float: right;
    }
    .fl-node-5d1664af07fdb .uabb-creative-menu .menu .uabb-menu-toggle {
        float: right;
    }
}

@media only screen and (max-width: 992px) {}

@media only screen and (max-width: 768px) {}

.fl-node-5d1664af07fdb .uabb-creative-menu .uabb-menu-overlay {
    background-color: #253262;
}

.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .menu>li>a,
.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .menu>li>.uabb-has-submenu-container>a {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .menu {
    text-align: center;
}

.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .menu>li,
.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .sub-menu>li {
    clear: both;
    display: block;
}

.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .sub-menu {
    width: 100%;
}

.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .menu.uabb-toggle-arrows>li>a span.uabb-menu-toggle,
.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .menu.uabb-toggle-arrows>li>.uabb-has-submenu-container a span.menu-item-text>span.uabb-menu-toggle {
    padding-left: 10px;
    float: right;
}

.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .menu.uabb-toggle-arrows .uabb-menu-toggle {
    padding-left: 10px;
    float: right;
}

.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .menu li a span.menu-item-text,
.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .menu li .uabb-has-submenu-container a span.menu-item-text {
    width: 100%;
    color: #f5f4f3;
}

.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .menu>li>a,
.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .menu>li>.uabb-has-submenu-container>a,
.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .sub-menu>li>a,
.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .sub-menu>li>.uabb-has-submenu-container>a,
.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .sub-menu>li>a:hover,
.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .sub-menu>li>a:focus,
.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .sub-menu>li>.uabb-has-submenu-container>a:hover,
.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .sub-menu>li>.uabb-has-submenu-container>a:focus {
    background-color: transparent;
}

.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .sub-menu li {}

.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .sub-menu li:last-child {
    border-bottom: none;
}

.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .menu>li>a:hover span.menu-item-text,
.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .menu>li>a:focus span.menu-item-text,
.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .menu>li:hover>a span.menu-item-text,
.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .menu>li:focus>a span.menu-item-text,
.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .sub-menu>li>a:hover span.menu-item-text,
.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .sub-menu>li>a:focus span.menu-item-text,
.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .menu>li>a:hover span.menu-item-text>i,
.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .menu>li>a:focus span.menu-item-text>i,
.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .menu>li:hover>a span.menu-item-text>i,
.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .menu>li:focus>a span.menu-item-text>i,
.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .sub-menu>li>a:hover span.menu-item-text>i,
.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .sub-menu>li>a:focus span.menu-item-text>i,
.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .menu li .uabb-has-submenu-container a:hover span.menu-item-text,
.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .menu li .uabb-has-submenu-container a:focus span.menu-item-text,
.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .menu li .uabb-has-submenu-container a:hover span.menu-item-text>i,
.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .menu li .uabb-has-submenu-container a:focus span.menu-item-text>i,
.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .menu>li:hover>.uabb-has-submenu-container>a span.menu-item-text,
.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .menu>li:focus>.uabb-has-submenu-container>a span.menu-item-text,
.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .menu>li:hover>.uabb-has-submenu-container>a span.menu-item-text>i,
.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .menu>li:focus>.uabb-has-submenu-container>a span.menu-item-text>i {
    color: #ffffff;
}

.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .menu>li.current-menu-item>a span.menu-item-text,
.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .menu>li.current-menu-item>.uabb-has-submenu-container>a span.menu-item-text,
.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .sub-menu>li.current-menu-item>a span.menu-item-text,
.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .sub-menu>li.current-menu-item>.uabb-has-submenu-container>a span.menu-item-text,
.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .menu>li.current-menu-item>a span.menu-item-text>i,
.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .menu>li.current-menu-item>.uabb-has-submenu-container>a span.menu-item-text>i,
.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .sub-menu>li.current-menu-item>a span.menu-item-text>i,
.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .sub-menu>li.current-menu-item>.uabb-has-submenu-container>a span.menu-item-text i,
.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .menu>li.current-menu-ancestor>a span.menu-item-text,
.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .menu>li.current-menu-ancestor>.uabb-has-submenu-container>a span.menu-item-text,
.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .sub-menu>li.current-menu-ancestor>a span.menu-item-text,
.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .sub-menu>li.current-menu-ancestor>.uabb-has-submenu-container>a span.menu-item-text,
.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .menu>li.current-menu-ancestor>a span.menu-item-text>i,
.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .menu>li.current-menu-ancestor>.uabb-has-submenu-container>a span.menu-item-text>i,
.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .sub-menu>li.current-menu-ancestor>a span.menu-item-text>i,
.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .sub-menu>li.current-menu-ancestor>.uabb-has-submenu-container>a span.menu-item-text i {
    color: #ffffff;
}

.fl-node-5d1664af07fdb .uabb-creative-menu .uabb-menu-overlay .uabb-menu-close-btn {
    width: 30px;
    height: 30px;
}

.fl-node-5d1664af07fdb .uabb-creative-menu .uabb-overlay-fade,
.fl-node-5d1664af07fdb .uabb-creative-menu.menu-open .uabb-overlay-fade,
.fl-node-5d1664af07fdb .uabb-creative-menu .uabb-overlay-corner,
.fl-node-5d1664af07fdb .uabb-creative-menu.menu-open .uabb-overlay-corner,
.fl-node-5d1664af07fdb .uabb-creative-menu .uabb-overlay-slide-down,
.fl-node-5d1664af07fdb .uabb-creative-menu.menu-open .uabb-overlay-slide-down,
.fl-node-5d1664af07fdb .uabb-creative-menu .uabb-overlay-scale,
.fl-node-5d1664af07fdb .uabb-creative-menu.menu-open .uabb-overlay-scale,
.fl-node-5d1664af07fdb .uabb-creative-menu .uabb-overlay-door,
.fl-node-5d1664af07fdb .uabb-creative-menu.menu-open .uabb-overlay-door,
.fl-node-5d1664af07fdb .uabb-creative-menu .uabb-overlay-door>ul,
.fl-node-5d1664af07fdb .uabb-creative-menu .uabb-overlay-door .uabb-menu-close-btn {
    transition-duration: 0.5s;
}

.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .uabb-menu-overlay .uabb-menu-close-btn:before,
.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .uabb-menu-overlay .uabb-menu-close-btn:after {
    height: 30px;
    background-color: #ffffff;
}

.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .uabb-toggle-arrows .uabb-menu-toggle:before,
.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .uabb-toggle-none .uabb-menu-toggle:before,
.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .uabb-toggle-arrows .sub-menu .uabb-menu-toggle:before,
.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .uabb-toggle-none .sub-menu .uabb-menu-toggle:before {
    color: #f5f4f3;
}

.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .uabb-toggle-arrows li:hover .uabb-menu-toggle:before,
.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .uabb-toggle-arrows li:focus .uabb-menu-toggle:before,
.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .uabb-toggle-arrows li:hover .uabb-has-submenu-container .uabb-menu-toggle:before,
.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .uabb-toggle-arrows li:focus .uabb-has-submenu-container .uabb-menu-toggle:before,
.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .uabb-toggle-arrows .uabb-creative-menu.current-menu-item .uabb-menu-toggle:before,
.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .uabb-toggle-arrows .uabb-creative-menu.current-menu-ancestor .uabb-menu-toggle:before {
    color: #ffffff;
}

.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .uabb-toggle-plus li:hover .uabb-menu-toggle:before,
.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .uabb-toggle-plus li:focus .uabb-menu-toggle:before,
.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .uabb-toggle-plus li:hover .uabb-has-submenu-container .uabb-menu-toggle:before,
.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .uabb-toggle-plus li:focus .uabb-has-submenu-container .uabb-menu-toggle:before,
.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .uabb-toggle-plus .uabb-creative-menu.current-menu-item .uabb-menu-toggle:before,
.fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .uabb-toggle-plus .uabb-creative-menu.current-menu-ancestor .uabb-menu-toggle:before {
    color: #ffffff;
}

@media only screen and ( max-width: 768px) {
    .fl-node-5d1664af07fdb .uabb-creative-menu.uabb-menu-default {
        display: none;
    }
}

@media only screen and ( max-width: 768px) {
    .fl-node-5d1664af07fdb .uabb-creative-menu.full-screen .uabb-menu-overlay ul.menu {
        width: 80%;
    }
}

.fl-node-5d1664af07fdb .uabb-creative-menu .menu>li>a,
.fl-node-5d1664af07fdb .uabb-creative-menu .menu>li>.uabb-has-submenu-container>a {
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.fl-node-5d1664af07fdb .uabb-creative-menu .sub-menu>li>a,
.fl-node-5d1664af07fdb .uabb-creative-menu .sub-menu>li>.uabb-has-submenu-container>a {
    font-size: 12px;
    text-transform: uppercase;
}

.fl-node-5d1664af07fdb .uabb-creative-menu .uabb-creative-menu-expanded.menu>.uabb-has-submenu>.sub-menu,
.fl-node-5d1664af07fdb .uabb-creative-menu .uabb-creative-menu-accordion.menu>.uabb-has-submenu>.sub-menu {
    border-style: solid;
    border-width: 0;
    background-clip: padding-box;
    border-color: #000000;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
}

.fl-node-5d1664af07fdb .uabb-creative-menu-mobile-toggle {
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

@media(max-width: 992px) {}

@media(max-width: 768px) {}

.fl-node-5dcd3c6e0ecb4 .fl-module-content .fl-icon i,
.fl-node-5dcd3c6e0ecb4 .fl-module-content .fl-icon i:before {
    font-size: 22px;
}

.fl-node-5dcd3c6e0ecb4 .fl-module-content .fl-icon-text {
    height: 38.5px;
}

.fl-node-5dcd3c6e0ecb4.fl-module-icon {
    text-align: right;
}

@media(max-width: 992px) {}

@media(max-width: 768px) {}

.fl-node-5dcac0f4c8cd2 .fl-rich-text,
.fl-node-5dcac0f4c8cd2 .fl-rich-text * {
    text-align: right;
}

.fl-node-5dcac0f4c8cd2 .fl-rich-text strong {
    font-weight: bold;
}

@media(max-width: 992px) {}

@media(max-width: 768px) {}

.fl-node-5d16648f2fcc4 .uabb-top-row-separator.uabb-has-svg svg {
    width: calc( 100% + 1.5px);
}

.fl-node-5d16648f2fcc4 .uabb-bottom-row-separator.uabb-has-svg svg {
    width: calc( 100% + 1.5px);
}

.fl-node-5d16648f2fcc4 #uabb-top-slit2,
.fl-node-5d16648f2fcc4 #uabb-top-slit3 {
    fill: #afafaf;
}

.fl-node-5d16648f2fcc4 #uabb-bottom-slit2,
.fl-node-5d16648f2fcc4 #uabb-bottom-slit3 {
    fill: #afafaf;
}

.fl-node-5d16648f2fcc4 #uabb-top-pine-tree-separator2 {
    fill: #ffffff;
    stroke: #ffffff;
}

.fl-node-5d16648f2fcc4 #uabb-bottom-pine-tree-separator2 {
    fill: #ffffff;
    stroke: #ffffff;
}

.fl-node-5d16648f2fcc4 #uabb-top-pine-tree-bend-separator2 {
    fill: #ffffff;
    stroke: #ffffff;
}

.fl-node-5d16648f2fcc4 #uabb-bottom-pine-tree-bend-separator2 {
    fill: #ffffff;
    stroke: #ffffff;
}

.fl-node-5d16648f2fcc4 #uabb-top-slime-separator2 {
    fill: #ffffff;
    stroke: #ffffff;
}

.fl-node-5d16648f2fcc4 #uabb-bottom-slime-separator2 {
    fill: #ffffff;
    stroke: #ffffff;
}

.fl-node-5d16648f2fcc4 #uabb-top-wave-slide-separator2 {
    fill: #ffffff;
    stroke: #ffffff;
}

.fl-node-5d16648f2fcc4 #uabb-bottom-wave-slide-separator2 {
    fill: #ffffff;
    stroke: #ffffff;
}

.fl-node-5d16648f2fcc4 .uabb-top-row-separator {
    z-index: 9;
}

.fl-node-5d16648f2fcc4 .uabb-bottom-row-separator {
    z-index: 9;
}

@media(max-width: 992px) {
    .fl-node-5d16648f2fcc4 .uabb-top-row-separator.uabb-has-svg svg {
        width: 100%;
    }
    .fl-node-5d16648f2fcc4 .uabb-bottom-row-separator.uabb-has-svg svg {
        width: 100%;
    }
}

@media(max-width: 768px) {
    .fl-node-5d16648f2fcc4 .uabb-top-row-separator.uabb-has-svg svg {
        width: 100%;
    }
    .fl-node-5d16648f2fcc4 .uabb-bottom-row-separator.uabb-has-svg svg {
        width: 100%;
    }
}

.fl-node-5dcd3e13b08a0 .uabb-top-row-separator.uabb-has-svg svg {
    width: calc( 100% + 1.5px);
}

.fl-node-5dcd3e13b08a0 .uabb-bottom-row-separator.uabb-has-svg svg {
    width: calc( 100% + 1.5px);
}

.fl-node-5dcd3e13b08a0 #uabb-top-slit2,
.fl-node-5dcd3e13b08a0 #uabb-top-slit3 {
    fill: #afafaf;
}

.fl-node-5dcd3e13b08a0 #uabb-bottom-slit2,
.fl-node-5dcd3e13b08a0 #uabb-bottom-slit3 {
    fill: #afafaf;
}

.fl-node-5dcd3e13b08a0 #uabb-top-pine-tree-separator2 {
    fill: #ffffff;
    stroke: #ffffff;
}

.fl-node-5dcd3e13b08a0 #uabb-bottom-pine-tree-separator2 {
    fill: #ffffff;
    stroke: #ffffff;
}

.fl-node-5dcd3e13b08a0 #uabb-top-pine-tree-bend-separator2 {
    fill: #ffffff;
    stroke: #ffffff;
}

.fl-node-5dcd3e13b08a0 #uabb-bottom-pine-tree-bend-separator2 {
    fill: #ffffff;
    stroke: #ffffff;
}

.fl-node-5dcd3e13b08a0 #uabb-top-slime-separator2 {
    fill: #ffffff;
    stroke: #ffffff;
}

.fl-node-5dcd3e13b08a0 #uabb-bottom-slime-separator2 {
    fill: #ffffff;
    stroke: #ffffff;
}

.fl-node-5dcd3e13b08a0 #uabb-top-wave-slide-separator2 {
    fill: #ffffff;
    stroke: #ffffff;
}

.fl-node-5dcd3e13b08a0 #uabb-bottom-wave-slide-separator2 {
    fill: #ffffff;
    stroke: #ffffff;
}

.fl-node-5dcd3e13b08a0 .uabb-top-row-separator {
    z-index: 9;
}

.fl-node-5dcd3e13b08a0 .uabb-bottom-row-separator {
    z-index: 9;
}

@media(max-width: 992px) {
    .fl-node-5dcd3e13b08a0 .uabb-top-row-separator.uabb-has-svg svg {
        width: 100%;
    }
    .fl-node-5dcd3e13b08a0 .uabb-bottom-row-separator.uabb-has-svg svg {
        width: 100%;
    }
}

@media(max-width: 768px) {
    .fl-node-5dcd3e13b08a0 .uabb-top-row-separator.uabb-has-svg svg {
        width: 100%;
    }
    .fl-node-5dcd3e13b08a0 .uabb-bottom-row-separator.uabb-has-svg svg {
        width: 100%;
    }
}

.fl-col-group-equal-height.fl-col-group-align-bottom .fl-col-content {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-box-align: end;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
}

.uabb-module-content h1,
.uabb-module-content h2,
.uabb-module-content h3,
.uabb-module-content h4,
.uabb-module-content h5,
.uabb-module-content h6 {
    margin: 0;
    clear: both;
}

.fl-module-content a,
.fl-module-content a:hover,
.fl-module-content a:focus {
    text-decoration: none;
}

.uabb-row-separator {
    position: absolute;
    width: 100%;
    left: 0;
}

.uabb-top-row-separator {
    top: 0;
    bottom: auto
}

.uabb-bottom-row-separator {
    top: auto;
    bottom: 0;
}

.fl-builder-content-editing .fl-visible-medium.uabb-row,
.fl-builder-content-editing .fl-visible-medium-mobile.uabb-row,
.fl-builder-content-editing .fl-visible-mobile.uabb-row {
    display: none !important;
}

@media (max-width: 992px) {
    .fl-builder-content-editing .fl-visible-desktop.uabb-row,
    .fl-builder-content-editing .fl-visible-mobile.uabb-row {
        display: none !important;
    }
    .fl-builder-content-editing .fl-visible-desktop-medium.uabb-row,
    .fl-builder-content-editing .fl-visible-medium.uabb-row,
    .fl-builder-content-editing .fl-visible-medium-mobile.uabb-row {
        display: block !important;
    }
}

@media (max-width: 768px) {
    .fl-builder-content-editing .fl-visible-desktop.uabb-row,
    .fl-builder-content-editing .fl-visible-desktop-medium.uabb-row,
    .fl-builder-content-editing .fl-visible-medium.uabb-row {
        display: none !important;
    }
    .fl-builder-content-editing .fl-visible-medium-mobile.uabb-row,
    .fl-builder-content-editing .fl-visible-mobile.uabb-row {
        display: block !important;
    }
}

.fl-responsive-preview-content .fl-builder-content-editing {
    overflow-x: hidden;
    overflow-y: visible;
}

.uabb-row-separator svg {
    width: 100%;
}

.uabb-top-row-separator.uabb-has-svg svg {
    position: absolute;
    padding: 0;
    margin: 0;
    left: 50%;
    top: -1px;
    bottom: auto;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.uabb-bottom-row-separator.uabb-has-svg svg {
    position: absolute;
    padding: 0;
    margin: 0;
    left: 50%;
    bottom: -1px;
    top: auto;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.uabb-bottom-row-separator.uabb-has-svg .uasvg-wave-separator {
    bottom: 0;
}

.uabb-top-row-separator.uabb-has-svg .uasvg-wave-separator {
    top: 0;
}

.uabb-bottom-row-separator.uabb-svg-triangle svg,
.uabb-bottom-row-separator.uabb-xlarge-triangle svg,
.uabb-top-row-separator.uabb-xlarge-triangle-left svg,
.uabb-bottom-row-separator.uabb-svg-circle svg,
.uabb-top-row-separator.uabb-slime-separator svg,
.uabb-top-row-separator.uabb-grass-separator svg,
.uabb-top-row-separator.uabb-grass-bend-separator svg,
.uabb-bottom-row-separator.uabb-mul-triangles-separator svg,
.uabb-top-row-separator.uabb-wave-slide-separator svg,
.uabb-top-row-separator.uabb-pine-tree-separator svg,
.uabb-top-row-separator.uabb-pine-tree-bend-separator svg,
.uabb-bottom-row-separator.uabb-stamp-separator svg,
.uabb-bottom-row-separator.uabb-xlarge-circle svg,
.uabb-top-row-separator.uabb-wave-separator svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scaleY(-1);
    -moz-transform: translateX(-50%) scaleY(-1);
    -ms-transform: translateX(-50%) scaleY(-1);
    -o-transform: translateX(-50%) scaleY(-1);
    transform: translateX(-50%) scaleY(-1);
}

.uabb-bottom-row-separator.uabb-big-triangle svg {
    left: 50%;
    -webkit-transform: scale(1) scaleY(-1) translateX(-50%);
    -moz-transform: scale(1) scaleY(-1) translateX(-50%);
    -ms-transform: scale(1) scaleY(-1) translateX(-50%);
    -o-transform: scale(1) scaleY(-1) translateX(-50%);
    transform: scale(1) scaleY(-1) translateX(-50%);
}

.uabb-top-row-separator.uabb-big-triangle svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scale(1);
    -moz-transform: translateX(-50%) scale(1);
    -ms-transform: translateX(-50%) scale(1);
    -o-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
}

.uabb-top-row-separator.uabb-xlarge-triangle-right svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scale(-1);
    -moz-transform: translateX(-50%) scale(-1);
    -ms-transform: translateX(-50%) scale(-1);
    -o-transform: translateX(-50%) scale(-1);
    transform: translateX(-50%) scale(-1);
}

.uabb-bottom-row-separator.uabb-xlarge-triangle-right svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scaleX(-1);
    -moz-transform: translateX(-50%) scaleX(-1);
    -ms-transform: translateX(-50%) scaleX(-1);
    -o-transform: translateX(-50%) scaleX(-1);
    transform: translateX(-50%) scaleX(-1);
}

.uabb-top-row-separator.uabb-curve-up-separator svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scaleY(-1);
    -moz-transform: translateX(-50%) scaleY(-1);
    -ms-transform: translateX(-50%) scaleY(-1);
    -o-transform: translateX(-50%) scaleY(-1);
    transform: translateX(-50%) scaleY(-1);
}

.uabb-top-row-separator.uabb-curve-down-separator svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scale(-1);
    -moz-transform: translateX(-50%) scale(-1);
    -ms-transform: translateX(-50%) scale(-1);
    -o-transform: translateX(-50%) scale(-1);
    transform: translateX(-50%) scale(-1);
}

.uabb-bottom-row-separator.uabb-curve-down-separator svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scaleX(-1);
    -moz-transform: translateX(-50%) scaleX(-1);
    -ms-transform: translateX(-50%) scaleX(-1);
    -o-transform: translateX(-50%) scaleX(-1);
    transform: translateX(-50%) scaleX(-1);
}

.uabb-top-row-separator.uabb-tilt-left-separator svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scale(-1);
    -moz-transform: translateX(-50%) scale(-1);
    -ms-transform: translateX(-50%) scale(-1);
    -o-transform: translateX(-50%) scale(-1);
    transform: translateX(-50%) scale(-1);
}

.uabb-top-row-separator.uabb-tilt-right-separator svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scaleY(-1);
    -moz-transform: translateX(-50%) scaleY(-1);
    -ms-transform: translateX(-50%) scaleY(-1);
    -o-transform: translateX(-50%) scaleY(-1);
    transform: translateX(-50%) scaleY(-1);
}

.uabb-bottom-row-separator.uabb-tilt-left-separator svg {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.uabb-bottom-row-separator.uabb-tilt-right-separator svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scaleX(-1);
    -moz-transform: translateX(-50%) scaleX(-1);
    -ms-transform: translateX(-50%) scaleX(-1);
    -o-transform: translateX(-50%) scaleX(-1);
    transform: translateX(-50%) scaleX(-1);
}

.uabb-top-row-separator.uabb-tilt-left-separator,
.uabb-top-row-separator.uabb-tilt-right-separator {
    top: 0;
}

.uabb-bottom-row-separator.uabb-tilt-left-separator,
.uabb-bottom-row-separator.uabb-tilt-right-separator {
    bottom: 0;
}

.uabb-top-row-separator.uabb-arrow-outward-separator svg,
.uabb-top-row-separator.uabb-arrow-inward-separator svg,
.uabb-top-row-separator.uabb-cloud-separator svg,
.uabb-top-row-separator.uabb-multi-triangle svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scaleY(-1);
    -moz-transform: translateX(-50%) scaleY(-1);
    -ms-transform: translateX(-50%) scaleY(-1);
    -o-transform: translateX(-50%) scaleY(-1);
    transform: translateX(-50%) scaleY(-1);
}

.uabb-bottom-row-separator.uabb-multi-triangle svg {
    bottom: -2px;
}

.uabb-row-separator.uabb-round-split:after,
.uabb-row-separator.uabb-round-split:before {
    left: 0;
    width: 50%;
    background: inherit inherit/inherit inherit inherit inherit;
    content: '';
    position: absolute
}

.uabb-button-wrap a,
.uabb-button-wrap a:visited {
    display: inline-block;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
    text-shadow: none;
}

.uabb-button-wrap a *,
.uabb-button-wrap a:visited * {}

.fl-builder-content .uabb-button:hover {
    text-decoration: none;
}

.fl-builder-content .uabb-button-width-full .uabb-button {
    display: block;
    text-align: center;
}

.uabb-button-width-custom .uabb-button {
    display: inline-block;
    text-align: center;
    max-width: 100%;
}

.fl-builder-content .uabb-button-left {
    text-align: left;
}

.fl-builder-content .uabb-button-center {
    text-align: center;
}

.fl-builder-content .uabb-button-right {
    text-align: right;
}

.fl-builder-content .uabb-button i,
.fl-builder-content .uabb-button i:before {
    font-size: 1em;
    height: 1em;
    line-height: 1em;
    width: 1em;
}

.uabb-button .uabb-button-icon-after {
    margin-left: 8px;
    margin-right: 0;
}

.uabb-button .uabb-button-icon-before {
    margin-left: 0;
    margin-right: 8px;
}

.uabb-button .uabb-button-icon-no-text {
    margin: 0;
}

.uabb-button-has-icon .uabb-button-text {
    vertical-align: middle;
}

.uabb-icon-wrap {
    display: inline-block;
}

.uabb-icon a {
    text-decoration: none;
}

.uabb-icon i {
    display: block;
}

.uabb-icon i:before {
    border: none !important;
    background: none !important;
}

.uabb-icon-text {
    display: table-cell;
    text-align: left;
    padding-left: 15px;
    vertical-align: middle;
}

.uabb-icon-text *:last-child {
    margin: 0 !important;
    padding: 0 !important;
}

.uabb-icon-text a {
    text-decoration: none;
}

.uabb-photo {
    line-height: 0;
    position: relative;
    z-index: 2;
}

.uabb-photo-align-left {
    text-align: left;
}

.uabb-photo-align-center {
    text-align: center;
}

.uabb-photo-align-right {
    text-align: right;
}

.uabb-photo-content {
    border-radius: 0;
    display: inline-block;
    line-height: 0;
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.uabb-photo-content img {
    border-radius: inherit;
    display: inline;
    height: auto;
    max-width: 100%;
    width: auto;
}

.fl-builder-content .uabb-photo-crop-circle img {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.fl-builder-content .uabb-photo-crop-square img {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.uabb-photo-caption {
    font-size: 13px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.uabb-photo-caption-below {
    padding-bottom: 20px;
    padding-top: 10px;
}

.uabb-photo-caption-hover {
    background: rgba(0, 0, 0, 0.7);
    bottom: 0;
    color: #fff;
    left: 0;
    opacity: 0;
    visibility: hidden;
    filter: alpha(opacity=0);
    padding: 10px 15px;
    position: absolute;
    right: 0;
    -webkit-transition: visibility 200ms linear;
    -moz-transition: visibility 200ms linear;
    transition: visibility 200ms linear;
}

.uabb-photo-content:hover .uabb-photo-caption-hover {
    opacity: 100;
    visibility: visible;
}

.uabb-active-btn {
    background: #1e8cbe;
    border-color: #0074a2;
    -webkit-box-shadow: inset 0 1px 0 rgba(120, 200, 230, .6);
    box-shadow: inset 0 1px 0 rgba(120, 200, 230, .6);
    color: white;
}

.fl-builder-bar .fl-builder-add-content-button {
    display: block !important;
    opacity: 1 !important;
}

.uabb-imgicon-wrap .uabb-icon {
    display: block;
}

.uabb-imgicon-wrap .uabb-icon i {
    float: none;
}

.uabb-imgicon-wrap .uabb-image {
    line-height: 0;
    position: relative;
}

.uabb-imgicon-wrap .uabb-image-align-left {
    text-align: left;
}

.uabb-imgicon-wrap .uabb-image-align-center {
    text-align: center;
}

.uabb-imgicon-wrap .uabb-image-align-right {
    text-align: right;
}

.uabb-imgicon-wrap .uabb-image-content {
    display: inline-block;
    border-radius: 0;
    line-height: 0;
    position: relative;
    max-width: 100%;
}

.uabb-imgicon-wrap .uabb-image-content img {
    display: inline;
    height: auto !important;
    max-width: 100%;
    width: auto;
    border-radius: inherit;
    box-shadow: none;
    box-sizing: content-box;
}

.fl-builder-content .uabb-imgicon-wrap .uabb-image-crop-circle img {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.fl-builder-content .uabb-imgicon-wrap .uabb-image-crop-square img {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.uabb-creative-button-wrap a,
.uabb-creative-button-wrap a:visited {
    background: #fafafa;
    border: 1px solid #ccc;
    color: #333;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    text-decoration: none;
    text-shadow: none;
    box-shadow: none;
    position: relative;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
}

.uabb-creative-button-wrap a:focus {
    text-decoration: none;
    text-shadow: none;
    box-shadow: none;
}

.uabb-creative-button-wrap a .uabb-creative-button-text,
.uabb-creative-button-wrap a .uabb-creative-button-icon,
.uabb-creative-button-wrap a:visited .uabb-creative-button-text,
.uabb-creative-button-wrap a:visited .uabb-creative-button-icon {
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
}

.uabb-creative-button-wrap a:hover {
    text-decoration: none;
}

.uabb-creative-button-wrap .uabb-creative-button-width-full .uabb-creative-button {
    display: block;
    text-align: center;
}

.uabb-creative-button-wrap .uabb-creative-button-width-custom .uabb-creative-button {
    display: inline-block;
    text-align: center;
    max-width: 100%;
}

.uabb-creative-button-wrap .uabb-creative-button-left {
    text-align: left;
}

.uabb-creative-button-wrap .uabb-creative-button-center {
    text-align: center;
}

.uabb-creative-button-wrap .uabb-creative-button-right {
    text-align: right;
}

.uabb-creative-button-wrap .uabb-creative-button i {
    font-size: 1.3em;
    height: auto;
    vertical-align: middle;
    width: auto;
}

.uabb-creative-button-wrap .uabb-creative-button .uabb-creative-button-icon-after {
    margin-left: 8px;
    margin-right: 0;
}

.uabb-creative-button-wrap .uabb-creative-button .uabb-creative-button-icon-before {
    margin-right: 8px;
    margin-left: 0;
}

.uabb-creative-button-wrap.uabb-creative-button-icon-no-text .uabb-creative-button i {
    margin: 0;
}

.uabb-creative-button-wrap .uabb-creative-button-has-icon .uabb-creative-button-text {
    vertical-align: middle;
}

.uabb-creative-button.uabb-creative-transparent-btn {
    background: transparent;
}

.uabb-creative-button.uabb-creative-transparent-btn:after {
    content: '';
    position: absolute;
    z-index: 1;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
}

.uabb-transparent-fill-top-btn:after,
.uabb-transparent-fill-bottom-btn:after {
    width: 100%;
    height: 0;
    left: 0;
}

.uabb-transparent-fill-top-btn:after {
    top: 0;
}

.uabb-transparent-fill-bottom-btn:after {
    bottom: 0;
}

.uabb-transparent-fill-left-btn:after,
.uabb-transparent-fill-right-btn:after {
    width: 0;
    height: 100%;
    top: 0;
}

.uabb-transparent-fill-left-btn:after {
    left: 0;
}

.uabb-transparent-fill-right-btn:after {
    right: 0;
}

.uabb-transparent-fill-center-btn:after {
    width: 0;
    height: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.uabb-transparent-fill-diagonal-btn:after,
.uabb-transparent-fill-horizontal-btn:after {
    width: 100%;
    height: 0;
    top: 50%;
    left: 50%;
}

.uabb-transparent-fill-diagonal-btn {
    overflow: hidden;
}

.uabb-transparent-fill-diagonal-btn:after {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate( 45deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate( 45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate( 45deg);
    -o-transform: translateX(-50%) translateY(-50%) rotate( 45deg);
    transform: translateX(-50%) translateY(-50%) rotate( 45deg);
}

.uabb-transparent-fill-horizontal-btn:after {
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.uabb-creative-button-wrap .uabb-creative-threed-btn.uabb-threed_down-btn,
.uabb-creative-button-wrap .uabb-creative-threed-btn.uabb-threed_up-btn,
.uabb-creative-button-wrap .uabb-creative-threed-btn.uabb-threed_left-btn,
.uabb-creative-button-wrap .uabb-creative-threed-btn.uabb-threed_right-btn {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

.perspective {
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    perspective: 800px;
    margin: 0;
}

.uabb-creative-button.uabb-creative-threed-btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    transition: all 200ms linear;
}

.uabb-creative-button.uabb-creative-threed-btn {
    outline: 1px solid transparent;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.uabb-creative-threed-btn.uabb-animate_top-btn:after {
    height: 40%;
    left: 0;
    top: -40%;
    width: 100%;
    -webkit-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
}

.uabb-creative-threed-btn.uabb-animate_bottom-btn:after {
    width: 100%;
    height: 40%;
    left: 0;
    top: 100%;
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    -ms-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}

.uabb-creative-threed-btn.uabb-animate_left-btn:after {
    width: 20%;
    height: 100%;
    left: -20%;
    top: 0;
    -webkit-transform-origin: 100% 0%;
    -moz-transform-origin: 100% 0%;
    -ms-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    -webkit-transform: rotateY(-60deg);
    -moz-transform: rotateY(-60deg);
    -ms-transform: rotateY(-60deg);
    transform: rotateY(-60deg);
}

.uabb-creative-threed-btn.uabb-animate_right-btn:after {
    width: 20%;
    height: 100%;
    left: 104%;
    top: 0;
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: rotateY(120deg);
    -moz-transform: rotateY(120deg);
    -ms-transform: rotateY(120deg);
    transform: rotateY(120deg);
}

.uabb-animate_top-btn:hover {
    -webkit-transform: rotateX(-15deg);
    -moz-transform: rotateX(-15deg);
    -ms-transform: rotateX(-15deg);
    -o-transform: rotateX(-15deg);
    transform: rotateX(-15deg);
}

.uabb-animate_bottom-btn:hover {
    -webkit-transform: rotateX(15deg);
    -moz-transform: rotateX(15deg);
    -ms-transform: rotateX(15deg);
    -o-transform: rotateX(15deg);
    transform: rotateX(15deg);
}

.uabb-animate_left-btn:hover {
    -webkit-transform: rotateY(6deg);
    -moz-transform: rotateY(6deg);
    -ms-transform: rotateY(6deg);
    -o-transform: rotateY(6deg);
    transform: rotateY(6deg);
}

.uabb-animate_right-btn:hover {
    -webkit-transform: rotateY(-6deg);
    -moz-transform: rotateY(-6deg);
    -ms-transform: rotateY(-6deg);
    -o-transform: rotateY(-6deg);
    transform: rotateY(-6deg);
}

.uabb-creative-flat-btn.uabb-animate_to_right-btn,
.uabb-creative-flat-btn.uabb-animate_to_left-btn,
.uabb-creative-flat-btn.uabb-animate_from_top-btn,
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn {
    overflow: hidden;
    position: relative;
}

.uabb-creative-flat-btn.uabb-animate_to_right-btn i,
.uabb-creative-flat-btn.uabb-animate_to_left-btn i,
.uabb-creative-flat-btn.uabb-animate_from_top-btn i,
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn i {
    bottom: 0;
    height: 100%;
    margin: 0;
    opacity: 1;
    position: absolute;
    right: 0;
    width: 100%;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    transition: all 200ms linear;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.uabb-creative-flat-btn.uabb-animate_to_right-btn .uabb-button-text,
.uabb-creative-flat-btn.uabb-animate_to_left-btn .uabb-button-text,
.uabb-creative-flat-btn.uabb-animate_from_top-btn .uabb-button-text,
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn .uabb-button-text {
    display: inline-block;
    width: 100%;
    height: 100%;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.uabb-creative-flat-btn.uabb-animate_to_right-btn i:before,
.uabb-creative-flat-btn.uabb-animate_to_left-btn i:before,
.uabb-creative-flat-btn.uabb-animate_from_top-btn i:before,
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn i:before {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.uabb-creative-flat-btn.uabb-animate_to_right-btn:hover i,
.uabb-creative-flat-btn.uabb-animate_to_left-btn:hover i {
    left: 0;
}

.uabb-creative-flat-btn.uabb-animate_from_top-btn:hover i,
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn:hover i {
    top: 0;
}

.uabb-creative-flat-btn.uabb-animate_to_right-btn i {
    top: 0;
    left: -100%;
}

.uabb-creative-flat-btn.uabb-animate_to_right-btn:hover .uabb-button-text {
    -webkit-transform: translateX(200%);
    -moz-transform: translateX(200%);
    -ms-transform: translateX(200%);
    -o-transform: translateX(200%);
    transform: translateX(200%);
}

.uabb-creative-flat-btn.uabb-animate_to_left-btn i {
    top: 0;
    left: 100%;
}

.uabb-creative-flat-btn.uabb-animate_to_left-btn:hover .uabb-button-text {
    -webkit-transform: translateX(-200%);
    -moz-transform: translateX(-200%);
    -ms-transform: translateX(-200%);
    -o-transform: translateX(-200%);
    transform: translateX(-200%);
}

.uabb-creative-flat-btn.uabb-animate_from_top-btn i {
    top: -100%;
    left: 0;
}

.uabb-creative-flat-btn.uabb-animate_from_top-btn:hover .uabb-button-text {
    -webkit-transform: translateY(400px);
    -moz-transform: translateY(400px);
    -ms-transform: translateY(400px);
    -o-transform: translateY(400px);
    transform: translateY(400px);
}

.uabb-creative-flat-btn.uabb-animate_from_bottom-btn i {
    top: 100%;
    left: 0;
}

.uabb-creative-flat-btn.uabb-animate_from_bottom-btn:hover .uabb-button-text {
    -webkit-transform: translateY(-400px);
    -moz-transform: translateY(-400px);
    -ms-transform: translateY(-400px);
    -o-transform: translateY(-400px);
    transform: translateY(-400px);
}

.uabb-tab-acc-content .wp-video,
.uabb-tab-acc-content video.wp-video-shortcode,
.uabb-tab-acc-content .mejs-container:not(.mejs-audio),
.uabb-tab-acc-content .mejs-overlay.load,
.uabb-adv-accordion-content .wp-video,
.uabb-adv-accordion-content video.wp-video-shortcode,
.uabb-adv-accordion-content .mejs-container:not(.mejs-audio),
.uabb-adv-accordion-content .mejs-overlay.load {
    width: 100% !important;
    height: 100% !important;
}

.uabb-tab-acc-content .mejs-container:not(.mejs-audio),
.uabb-adv-accordion-content .mejs-container:not(.mejs-audio) {
    padding-top: 56.25%;
}

.uabb-tab-acc-content .wp-video,
.uabb-tab-acc-content video.wp-video-shortcode,
.uabb-adv-accordion-content .wp-video,
.uabb-adv-accordion-content video.wp-video-shortcode {
    max-width: 100% !important;
}

.uabb-tab-acc-content video.wp-video-shortcode,
.uabb-adv-accordion-content video.wp-video-shortcode {
    position: relative;
}

.uabb-tab-acc-content .mejs-container:not(.mejs-audio) .mejs-mediaelement,
.uabb-adv-accordion-content .mejs-container:not(.mejs-audio) .mejs-mediaelement {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.uabb-tab-acc-content .mejs-overlay-play,
.uabb-adv-accordion-content .mejs-overlay-play {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto !important;
    height: auto !important;
}

.fl-row-content-wrap .uabb-row-particles-background {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.uabb-col-particles-background {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.uabb-creative-button-wrap a,
.uabb-creative-button-wrap a:visited {}

.uabb-dual-button .uabb-btn,
.uabb-dual-button .uabb-btn:visited {}

.uabb-js-breakpoint {
    content: "default";
    display: none;
}

@media screen and (max-width: 992px) {
    .uabb-js-breakpoint {
        content: "992";
    }
}

@media screen and (max-width: 768px) {
    .uabb-js-breakpoint {
        content: "768";
    }
}

.top-bar-left-sec a {
    text-decoration: none;
}

.top-bar-left-sec .storename {
    display: inline-block;
    margin-left: 30px;
    margin-bottom: 0;
}

.fl-page-bar-row.row {
    display: flex;
    align-items: center
}

.ui-datepicker-title select {
    color: #333;
}

.top-bar-left-sec .storename .phone a::before {
    content: "\f095";
    font-size: 20px;
    color: #fff;
    font: normal normal normal 14px/1 FontAwesome;
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    margin-right: 5px;
    vertical-align: bottom;
}

ul.social-icons li a i::before {
    /* color: #4b4c60; */
}

ul.social-icons li a i:hover,
ul.social-icons li a:hover,
ul.social-icons li a {
    color: #243161;
}

.facetwp-template .btn-grey a.fl-button {
    border: 1px solid;
}

.button-wrapper-default a:hover {
    background: #243161;
    border: 2px solid #243161;
}

.gform_body li small em {
    color: #fff;
}

.f-0 .fl-module-content {
    display: none;
}

div.fl-module-uabb-gravity-form .uabb-gf-style input[type=tel]:active,
div.fl-module-uabb-gravity-form .uabb-gf-style input[type=tel]:focus,
div.fl-module-uabb-gravity-form .uabb-gf-style input[type=email]:active,
div.fl-module-uabb-gravity-form .uabb-gf-style input[type=email]:focus,
div.fl-module-uabb-gravity-form .uabb-gf-style input[type=text]:active,
div.fl-module-uabb-gravity-form .uabb-gf-style input[type=text]:focus,
div.fl-module-uabb-gravity-form .uabb-gf-style input[type=url]:focus,
div.fl-module-uabb-gravity-form .uabb-gf-style input[type=url]:focus,
div.fl-module-uabb-gravity-form .uabb-gf-style input[type=number]:focus,
div.fl-module-uabb-gravity-form .uabb-gf-style input[type=number]:active,
div.fl-module-uabb-gravity-form .uabb-gf-style input[type=date]:focus,
div.fl-module-uabb-gravity-form .uabb-gf-style input[type=date]:active,
div.fl-module-uabb-gravity-form .uabb-gf-style select:focus,
div.fl-module-uabb-gravity-form .uabb-gf-style select:active,
div.fl-module-uabb-gravity-form .uabb-gf-style textarea:active,
div.fl-module-uabb-gravity-form .uabb-gf-style textarea:focus,
div.fl-module-uabb-gravity-form .gform_wrapper .chosen-container-active.chosen-with-drop .chosen-single,
div.fl-module-uabb-gravity-form .gform_wrapper .ginput_container_select .chosen-container-active.chosen-with-drop .chosen-single {
    border-color: #243161;
}

.gform_wrapper .ginput_container.ginput_container_date input.medium {
    width: 100% !important;
}

.ginput_container.ginput_container_date {
    position: relative;
}

body .gform_wrapper .ginput_container.ginput_container_date img.ui-datepicker-trigger {
    position: absolute;
    top: 35px;
    right: 35px;
}

ul.sub-menu .uabb-menu-toggle {
    transform: rotate(270deg)
}

.searchModule {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 9;
    background: #243161;
}

header#masthead .fl-row-fixed-width .fl-col-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gform_wrapper select option {
    background: #243161;
}

.fl-page-nav ul.sub-menu {
    border-top: 3px solid #243161 !important;
}

.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.menu-item>a:hover,
.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.menu-item>a:focus,
.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.current-menu-ancestor>a,
.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.current-menu-parent>a,
.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.current-menu-item>a {
    color: #243161 !important;
}

.fl-module-uabb-gravity-form .uabb-gf-style .gform_body .ginput_container_checkbox .gfield_checkbox input[type='checkbox']:checked+label:before,
.gform_wrapper .gfield_required,
.gfield_checkbox label a {
    color: #fff !important;
}

.gfield_checkbox label a:hover {
    color: #d8d2d2 !important;
}

#field_23_8 {
    width: 100%;
}

.gform_wrapper #field_23_8 .clear-multi .gfield_time_hour,
.gform_wrapper #field_23_8 .clear-multi .gfield_time_minute,
.gform_wrapper #field_23_8 .clear-multi .gfield_time_ampm {
    max-width: 6rem;
}

.gform_wrapper #field_23_8 .clear-multi .gfield_time_hour input,
.gform_wrapper #field_23_8 .clear-multi .gfield_time_minute input,
.gform_wrapper #field_23_8 .clear-multi .gfield_time_ampm select {
    width: 90%;
    padding: 0;
    text-align: center;
}

.gform_wrapper #field_23_8 .clear-multi .gfield_time_hour label,
.gform_wrapper #field_23_8 .clear-multi .gfield_time_minute label {
    color: #fff;
    text-align: center;
    width: 100%;
}

.gform_wrapper #field_23_8 .clear-multi .gfield_time_hour i {
    color: #fff;
    margin-top: -2%;
}

#field_23_2,
#field_23_7 {
    padding-right: 0;
}

.product-swatch .button-wrapper-default a,
.product-box .responsive-button-wrapper-default a {
    border: 1px solid!important;
}

#responsive-menu-additional-content .social-icons li {
    margin-right: 10px;
}

#responsive-menu-additional-content .social-icons li a {
    color: #fff;
}

.container.fl-content-full {
    margin: 0;
    padding: 0;
    width: auto;
    max-width: none;
}

input[type="checkbox"]::before,
input[type="radio"]::before {
    color: #c09b65 !important;
}

.ua-icon-search {
    cursor: pointer;
}

.phone-no-sec {
    display: flex;
}

.phone-no-sec .storename {
    margin-left: 5px;
}

#field_19_10>label {
    display: none;
}

.gfield_checkbox input {
    margin-top: 0 !important;
}

.gform_wrapper.gf_browser_chrome .gfield_checkbox li input,
.gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox] {
    margin-top: 0 !important;
}

.gform_wrapper.gf_browser_chrome .gfield_checkbox li input,
.gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox],
.gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio] {
    margin-top: 0 !important;
}

@media(min-width:992px) and (max-width:1100px) {
    .style-product_list .pro-container>.row>.col-md-7 {
        flex: 0 0 57.33333%;
        width: 57.33333%;
    }
    .style-product_list .pro-container>.row>.col-md-5 {
        flex: 0 0 41.6666%;
        width: 41.6666%;
    }
    .style-product_list .pro-container .pro-details .button-wrapper a.button {
        min-width: auto;
        width: auto;
    }
}

@media only screen and (max-width: 761px),
(max-device-width: 1023px) and (min-device-width: 768px) {
    .gform_wrapper ul.gform_fields li.gfield.gfield_error+li.gfield.gfield_error#field_19_8,
    .gform_wrapper ul.gform_fields li.gfield.gfield_error+li.gfield.gfield_error#field_23_2 {
        margin-top: 17px !important;
    }
}

@media(max-width:1024px) {
    .fl-page-bar,
    header .fl-module-uabb-advanced-menu,
    .searchIcon,
    .header-social-icons .fl-module-content.fl-node-content {
        display: none;
    }
    .responsive-menu-open button#responsive-menu-button {
        position: fixed;
    }
    #responsive-menu-container #responsive-menu,
    #responsive-menu-container #responsive-menu ul {
        text-transform: uppercase;
    }
    .responsive-menu-open .storename {
        margin-bottom: 20px !important;
    }
    .responsive-menu-open .storename .phone a::before {
        content: "\f095";
        color: #fff;
        font: normal normal normal 18px/1 FontAwesome;
        font-weight: 900;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
        margin-right: 10px !important;
        vertical-align: bottom;
    }
    .responsive-menu-open .storename .phone a {
        color: #fff;
    }
    #responsive-menu-container #responsive-menu-search-box,
    #responsive-menu-container #responsive-menu-additional-content,
    #responsive-menu-container #responsive-menu-title {
        padding: 10px 5% !important;
    }
    button#responsive-menu-button {
        top: 40px !important;
    }
    .product-box h1 {
        font-size: 30px;
    }
}

@media(max-width:768px) {
    .fl-module-uabb-advanced-menu .uabb-creative-menu ul#menu-flooring-menu {
        display: flex;
        flex-direction: column;
    }
    button#responsive-menu-button {
        top: 50px !important;
    }
    .fl-row-fixed-width .fl-col-small .fl-module-content.fl-node-content {
        margin: 20px 0;
    }
    .max-width-ssue {
        max-width: 400px !important;
        margin: 0 auto !important;
    }
    .facet_filters {
        padding: 0 20px;
    }
}

@media (max-width:500px) {
    .fl-module-photo-gallery .uabb-photo-gallery-item,
    .fl-mosaicflow-col {
        width: 100% !important;
    }
    .form-heading h1 {
        font-size: 32px;
    }
    .fl-builder-content div.fl-module-button a.fl-button,
    .fl-builder-content div.fl-module-button a.fl-button:visited {
        font-size: 14px;
        letter-spacing: 0px;
    }
    button#responsive-menu-button {
        top: 40px !important;
    }
    .product-row .fl-post-grid-image>a .exlusive-badge img {
        margin-left: 45px;
    }
}

@media (max-width:320px) {
    .default-form .max-width-ssue {
        max-width: 300px !important;
    }
}

.product-plp-grid.product-grid.swatch a.fl-button.plp_box_btn {
    color: #fff !important;
}

.product-plp-grid.product-grid.swatch a.fl-button.plp_box_btn:hover {
    color: #00173a !important;
}